* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --black: #000;
  --white: #fff;
  --light-gray: #b7b9bc;
  --dark-gray: #47494c;
  --near-white: #ddd;
  --maroon: #550030;
  --navy: #222439;
  --pale-blue: #5b6779;

  /* Box Main */
  --bg-box-main: var(--light-gray);
  --font-color-box-main: var(--black);
  --font-family-box-main: "Georgia";

  /* Box Light */
  --bg-box-light: var(--near-white);
  --font-color-box-light: var(--black);
  --font-family-box-light: "Georgia";

  /* Box Dark */
  --bg-box-dark: var(--black);
  --font-color-box-dark: var(--near-white);
  --font-color-anchor-box-dark: var(--near-white);
  --font-family-box-dark: "Georgia";

  /* General Background */
  --bg-body: transparent;
  --bg-table: var(--near-white);
  --bg-select: var(--near-white);
  --bg-box-light-select: var(--white);

  /* Font Colors */
  --font-color-body: var(--black);
  --font-color-h2: var(--black);
  --font-color-h3: var(--maroon);
  --font-color-h4: var(--dark-gray);
  --font-color-icon: var(--light-gray);
  --font-color-icon-hover: var(--white);
  --font-color-anchor: var(--maroon);
  --font-color-th: var(--maroon);
  --font-color-td: var(--black);
  --font-color-select: var(--black);

  /* Scrollbar Colors */
  --scrollbar-thumb-color: var(--near-black);
  --scrollbar-track-color: var(--maroon);

  /* Borders */
  --border-dark: var(--black);
  --border-light: var(--near-white);
  --box-tool-border: var(--border-dark);

  /* Font Families */
  --font-family-accent: "Cinzel";
  --font-family-h1: var(--font-family-accent);
  --font-family-h2: var(--font-family-accent);
  --font-family-h3: var(--font-family-main);
  --font-family-h4: var(--font-family-main);
}

/* Dark mode */

.dark {
  --darker-gray: #27292c;
  --darkest-gray: #17191c;
  --maroon: #750050;

  /* Box Main */
  --bg-box-main: var(--darkest-gray);
  --font-color-box-main: var(--near-white);
  --font-family-box-main: "Georgia";

  /* Box Light */
  --bg-box-light: var(--gray);
  --font-color-box-light: var(--black);
  --font-family-box-light: "Georgia";

  /* Box Dark */
  --bg-box-dark: var(--darker-gray);
  --font-color-box-dark: var(--near-white);
  --font-color-anchor-box-dark: var(--near-white);
  --font-family-box-dark: "Georgia";

  /* General Background */
  --bg-body: transparent;
  --bg-table: var(--darker-gray);
  --bg-select: var(--near-white);
  --bg-box-light-select: var(--near-white);

  /* Font Colors */
  --font-color-body: var(--near-white);
  --font-color-h2: var(--near-white);
  --font-color-h3: var(--maroon);
  --font-color-h4: var(--maroon);
  --font-color-icon: var(--near-white);
  --font-color-icon-hover: var(--maroon);
  --font-color-anchor: var(--maroon);
  --font-color-th: var(--maroon);
  --font-color-td: var(--near-white);
  --font-color-select: var(--black);

  /* Borders */
  --box-tool-border: var(--border-light);
}

body {
  background: var(--bg-body);
  color: var(--font-color-body);
  font-family: sans-serif;
  line-height: 1.4;
  margin: 0;
}

/* Images - Default */

img {
  max-width: 100%;
}

/* Typography - Default */

h1 {
  font-family: var(--font-family-h1);
  letter-spacing: 0.2rem;
}

h2 {
  color: var(--font-color-h2);
  font-family: var(--font-family-h2);
  margin: 3rem 0;
  text-align: center;
}

h3 {
  color: var(--font-color-h3);
  font-family: var(--font-family-h3);
}

h4 {
  color: var(--font-color-h4);
  font-family: var(--font-family-h4);
}

hr {
  border: none;
  border-top: 1px solid var(--bg-dark);
}

/* Icons - Default */

i.fa {
  color: var(--font-color-icon);
  padding: 5px 0;
}

i.fa:hover {
  color: var(--font-color-icon-hover);
}

a {
  color: var(--font-color-anchor);
}

/* Selectors */

select {
  background-color: var(--bg-select);
  border-radius: 5px;
  color: var(--font-color-select);
  padding: 5px;
}

select:focus-visible {
  outline-color: var(--bg-dark);
  outline-style: solid;
}

body,
input,
select {
  font-family: var(--font-family-box-main);
}

/* Layouts */

div,
section {
  max-width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
}

header,
main,
footer {
  padding: 1rem;
}

main {
  background: var(--bg-box-main);
}

section {
  margin: 0 auto;
  max-width: 700px;
}

details,
li {
  margin-bottom: 1rem;
}

/* Nav */

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

.nav-icons {
  background: var(--bg-box-dark);
  border-radius: 8px;
  margin: 0 auto;
  padding: 5px;
  width: fit-content;
}

.nav-icons ul {
  margin: 0;
  padding: 5px;
}

.nav-icons li {
  margin: 0;
}

.nav-icons a {
  padding: 5px;
  border-radius: 8px;
  font-size: 1.4rem;
}

/* Tools */

#weapon-display {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#weapon-display img {
  background: #eee;
  border-radius: 8px;
  height: 200px;
  margin: 1rem 0;
  padding: 5px;
  width: 200px;
}

/* Tables */

table {
  max-width: 100%;
}

table.table-default-style {
  background: var(--bg-table);
  border: 1px solid var(--font-color-dark);
  border-collapse: collapse;
  white-space: pre-line;
}

table.table-default-style td {
  color: var(--font-color-td);
}

table.table-default-style th,
table.table-default-style td {
  padding: 8px;
  border: 1px solid #000;
}

table.table-default-style tr:first-child {
  background: var(--maroon);
  color: var(--font-color-box-dark);
}

table.spell-table th,
table.spell-table td {
  text-align: left;
}

.tables-grid {
  display: grid;
  grid-template-areas:
    "weap weap rank"
    "extra extra ."
    "armour . .";
  gap: 2rem 1rem;
}

#table-weap {
  grid-area: weap;
}

#table-rank {
  grid-area: rank;
}

#table-extra {
  grid-area: extra;
}

#table-armour {
  grid-area: armour;
}

#dice-range-output {
  width: fit-content;
}

#dice-range-output table tr:first-child {
  color: var(--font-color-accent);
}

#dice-range-output table th,
#dice-range-output table td {
  padding: 3px 1rem;
}

/* Style Classes */

.box-light {
  background: var(--bg-box-light);
  border-radius: 8px;
  color: var(--font-color-box-light);
  margin: 1rem 0;
  padding: 5px 10px;
}

.box-light select {
  background: var(--bg-box-light-select);
}

.box-dark {
  background: var(--bg-box-dark);
  color: var(--font-color-box-dark);
}
.box-dark a {
  color: var(--font-color-anchor-box-dark);
}

.box-dark a:hover {
  color: #fff;
}

.box-tool {
  border: 1px solid var(--box-tool-border);
  padding: 1rem;
}

/* Scrollbars */

.scrollbar-default::-webkit-scrollbar,
details[open]::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: var(--scrollbar-track-color);
}

.scrollbar-default::-webkit-scrollbar-thumb,
details[open]::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  display: block;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
  }
}

/* Media Queries */

@media screen and (max-width: 650px) {
  .tables-grid {
    display: block;
  }
  .tables-grid table {
    width: 100%;
    margin-bottom: 2rem;
  }

  /* Typography */

  ul {
    padding-left: 1rem;
  }

  /* Spell Page Modifications */

  div#arcane-spell-selectors select {
    margin-bottom: 1rem;
  }
  div#arcane-spell-selectors select,
  div#arcane-spell-selectors label {
    width: 100%;
  }

  div#dice-range.box-light {
    overflow-x: scroll;
    width: 100%;
  }

  table.spell-table tr td:nth-child(4) {
    min-width: 200px;
  }

  #arcane-spells-info-wrapper details,
  #divine-spells-info-wrapper details,
  #dark-spells-info-wrapper details {
    overflow-x: scroll;
  }
}

/*
Old Colors:

  --light-gray: #b7b9bc;
  --near-white: #ddd;
  --dark-gray: #222;
  --near-black: #1a1a2a;
  --purple-black: #111121;
  --black: #001;
  --mid-blue: #08c;
  --darker-blue: #06a;
  --dark-blue-purple: #334;
  --lilac: #aD89aD;
  --lilac-dark: #6D496D;
*/
